body {
  background-attachment: fixed;
  background-size: cover;
}
.form-init {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-image-block {
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 100px;
  justify-content: center;
}

.title-block {
  padding-top: 125px;
  padding-left: 90px;
  padding-right: 75px;
  padding-bottom: 20px;
  width: 85%;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  color: #2f4457;
  text-align: center;
}
.image-block {
  width: 100%;
  padding-left: 70px;
  justify-content: center;
}
.access-block {
  padding-top: 160px;
  padding-right: 50px;
  width: 25%;
}
.access-image {
  padding-bottom: 10px;
  width: 100%;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
