.MainView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.MainView-blockLogoNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.MainView-logo {
  padding-bottom: 25px;
}
.MainView-InfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 15px;
  color: #2f4457;
  font-weight: lighter;
  width: 80%;
  min-height: 100vh;
  margin-left: 20vw;
  padding: 0 40px 20px 40px;
}
