.MaterialsView {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.MaterialsView-blockLogoNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  width: 30%;
}

.MaterialsView-logo {
  padding-top: 35px;
  padding-bottom: 25px;
}
.MaterialsView-InfoBlock {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 15px;
  color: #2f4457;
  font-weight: lighter;
  width: 70%;
}

.MaterialsView-materialmanagerblock {
  border: 0.5px solid #ced4da;
  padding: 0.375rem 0.75rem;
}
