.UsersView {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.UsersView-blockLogoNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  width: 30%;
}

.UsersView-logo {
  padding-top: 35px;
  padding-bottom: 25px;
}
.UsersView-InfoBlock {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 15px;
  color: #2f4457;
  font-weight: lighter;
  width: 70%;
}

.UsersView-usermanagerblock {
  border: 0.5px solid #ced4da;
  padding: 0.375rem 0.75rem;
}

.Users-button-container {
  padding-left: 5px;
  padding-right: 5px;
}
